<%- include("../partials/header") %>
<script src="https://kit.fontawesome.com/f005ebedaf.js" crossorigin="anonymous"></script>

<div class="container fill">
    <header class="jumbotron mt-4">
        <div class="container">
            <h1><i class="fas fa-caravan"></i> Welcome to YelpCamp!</h1>
            <p>View campgrounds from across the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>

    <div class="row text-center">
        <% if (noMatch !== undefined) { %>
            <div class="col-12 d-flex flex-column align-items-center">
                <h2><%= noMatch %> </h2>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="input-group">
                        <input class="form-control" type="text" name="search" placeholder="Search Campgrounds">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-light border"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        <% } %>
        <div class="card-columns">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col">
                    <div class="card">
                        <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.name %></h5>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>    
</div>

<%- include("../partials/footer") %>