<%- include("../partials/header") %>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">           
            <div id="accordion">
                <div class="card">
                    <a class="card-header p-2 bg-dark" data-toggle="collapse" data-target="#collapseMap">
                        <h6 class="text-light mt-2">View Map</h6>
                    </a>
                    <div id="collapseMap" class="collapse" data-parent="#accordion">
                        <div class="card-body p-0">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card mb-3">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body">
                    <p class="float-right">
                        $<%= campground.price %> /night
                    </p>
                    <h5 class="card-title"><%= campground.name %></h5>
                    <hr>
                    <p class="card-text"><%= campground.description %></p>
                    <p>
                        <em>Submitted by <a href="/users/<%= campground.author.id %> "><%= campground.author.username %></a></em> 
                    </p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add a New Comment</a>
                    </div>
                    <div class="row">
                        <% campground.comments.forEach(comment => { %>                    
                            <div class="col-md-12">
                                <div class="card mt-2 mb-2">
                                    <div class="card-body">
                                        <div class="float-left">
                                            <p class="card-title"><strong><%= comment.author.username %></strong></p>
                                            <p class="card-text"><%= comment.text %></p>
                                        </div>
                                        <div class="float-right">
                                            <p><span class="float-right">10 days ago</span></p>
                                            <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                                <div class="float-right">
                                                    <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                                        Edit
                                                    </a>
                                                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                        <button class="btn btn-sm btn-danger">Delete</button>
                                                    </form>
                                                </div>                            
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>     
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
      var lat = <%= campground.lat %>;
      var lng = <%= campground.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= campground.name %><br />
        <%= campground.location %></strong>
        <p><%= campground.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= GMapAPI %> &callback=initMap"></script>

<%- include("../partials/footer") %>